# Python virtual environment
venv/
__pycache__/
*.pyc

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/

# # Model and large files (keep them in Google Drive or Git LFS instead)
# *.h5
# *.pkl
# *.joblib
# *.json
# *.safetensors